<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 ">

    <table border="1" style="border-collapse: collapse">
      <thead>
        <tr>
          <th>ジャンル検索</th>
        </tr>
      </thead>
    </table>
    </div>

    <div class="col-md-8 offset-md-1">
    <br>
    <p>
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
    </p>
    <br>

    <h3>新着商品</h3>
    <% @item.each do |item| %>
      <table>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td><%= item.name %></td>
        </tr>
        <tr>
          <td>¥<%= item.price %></td>
        </tr>
      </table>
    <% end %>
    <td><%= link_to "全ての商品を見る", public_items_path %></td>
    </div>
  </div>
</div>