<h3>商品一覧</h3>

<table>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.get_image(100,100) %></td>
  </tr>
  <tr>
    <td><%= link_to public_item_path(item) do %><%= item.name %><% end %></td>
  </tr>
  <tr>
    <td>¥<%= item.price %></td>
  </tr>
  <% end %>
</table>
