<table>
  <tr>
    <th><%= @item.get_image(100,100) %></th>
  </tr>
  <tr>
    <td>
      <%= @item.name %><br>
      <%= @item.introduction %><br>
      ¥<%= @item.price %>(税込)
    </td>
  </tr>
</table>


